<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script type="text/javascript" src="js/vue.js" ></script>
		<style type="text/css">
			.tab{
				width: 500px;
				height: 300px;
				border: 1px solid #000; 
			}
			.tab header{
				height: 35px;
				border-bottom:1px solid #000;
				line-height: 35px;		
			}
			.tab header .item{
				display: inline-block;
				padding: 0 20px;
				border-right:1px solid #000 ;
			}
			.tab header .item.active{
				background: #666666;
			}
		</style>
	</head>
	<body>
		<div class="app">
			<div class="tab">
				<header>
					<div class="item" v-for="(item,index) in tabs"
						 v-bind:class="{active:index ===selectIndex}" v-on:click="selectIndex = index">
						<!--循环的下标{{index}}-->
						{{item.title}}
					</div>
				</header>
				<main>
					<h1 v-for="(con,index) in tabs" v-if="selectIndex === index">
					<!--	被选中的下标{{selectIndex}}    v-if/show="布尔值"-->
						{{con.content}}
					</h1>
				</main>
			</div>
		</div>
		<script type="text/javascript">
			const vm =new Vue({
				el:'.app',
				data:{
					tabs:[
					{
						title:'我的关注',
						content:'我的关注内容部分'
					},
					{
						title:'小说',
						content:'小说内容部分'
					},
					{
						title:'推荐',
						content:'推荐内容部分'
					},
					{
						title:'导航',
						content:'导航内容部分'
					}
					],
					selectIndex:1  // 被选中的下标
				}
			})
		</script>
	</body>
</html>
