<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script type="text/javascript" src="js/vue.js" ></script>
		<style type="text/css">
		ul{
          width: 100%;
          height:30px;
         }
       li{
         list-style-type:none;
         float: left;
         margin-left: 20px;
         cursor: pointer;
        }

		</style>
	</head>
	<body>
		<div id="app">
     <ul>
        <li v-for="(item,index) in tabs" v-on:click="tab(index)">{{item}}</li>
        
     </ul>
     <div class="tabCon">
        <div v-for='(itemCon,index) in tabContents' v-show="index == num">{{itemCon}}</div>
     </div>   
</div>
<script type="text/javascript">
var vm = new Vue({
    el: '#app',
    data: {
        tabs: ["我的关注", "小说","推荐","导航"],
        tabContents: ["百度贴吧,淘金网,新浪微博,优酷网", "葫芦娃，海绵宝宝，变形金刚","亚运会lol，中国屌丝大败韩国基佬","百度糯米，京东商城，苏宁易购"],
        num: 0
    },
    methods: {
        tab(index) {
            this.num = index;
            console.log(this.num)
        }
    }
});
</script>
	</body>
</html>
